[submodule "src/tmr_ros1"]
    path = src/tmr_ros1
    url = https://github.com/TechmanRobotInc/tmr_ros1.git
[submodule "src/dt_module/library/moveit_lib"]
	path = src/dt_module/library/moveit_lib
	url = git@github.com:KeV1NBR/moveit_lib.git
[submodule "src/dt_module/library/tm_lib"]
	path = src/dt_module/library/tm_lib
	url = git@github.com:KeV1NBR/tm_lib.git
[submodule "src/skeleton_module/library/kinect_lib"]
	path = src/skeleton_module/library/kinect_lib
	url = git@github.com:KeV1NBR/kinect_lib.git
[submodule "kinematics_poe"]
	path = kinematics_poe
	url = git@github.com:KeV1NBR/kinematics_poe.git
